name: Go

on:
  release:

  # Run the workflow manually.
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25"
          check-latest: "true"
          cache-dependency-path: "go.sum"

      - name: Download dependencies
        run: make mod/download

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
          install-only: true
          verify: false

      - name: Audit
        run: make audit

      - name: Tests
        run: make test
